body {
    background-image: url('../assets/img/background.jpg');
    background-attachment: fixed;
    background-size: cover;
    /* Optional, to cover the entire viewport */
}

p,
h1 {
    font-family: 'Comic Neue', cursive;
    color: wheat;
}

#first-container {
    margin: auto;
    padding: 1% 0% 1%;
    text-align: center;
    background: radial-gradient(circle, #da7f10, #e4b071);

}

#second-container {
    margin: auto;
}

#third-container {
    margin: 30% auto 30%;
}

#fourth-container {
    margin: auto;
    text-align: center;
    background: linear-gradient(to top, #FF8080, rgb(255, 128, 128, 0.5));

    padding: 5% 0% 10%;
}

.title {
    color: #fcf0e1;
    font-family: 'Dancing Script', cursive;
    font-size: 5em;
}

.navbar-title {
    color: #fcf0e1;
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
}

.navbar-icon {
    width: 40px;
    margin: 0;

}

.intro-header {
    text-align: center;
    color: #d17e18;
    padding-top: 3%;
}

.logo {
    font-size: 24px;
    padding: 0% 1% 0%;
}

.intro-img {
    width: 80%;
    padding: 10% 5% 10%;
    /* Optional, to ensure proper alignment */
}

.logo-picture {
    width: 100px;
    position: inline;
    border-radius: 10px;
    margin-left: 1%;
    margin-right: 1%;
}

.custom-table {
    background: linear-gradient(to bottom, #d7a76d, rgb(154, 126, 91, 0.5));
    /* Lineáris átmenet a kék (#3498db) és sötétkék (#273c75) között */
}

#carouselExampleIndicators {
    height: 60vh;
    /* A képernyőmagasság 40%-a */
}

#carouselExampleIndicators .carousel-inner {
    height: 100%;
    /* A Carousel tartalmának 100%-os magasság beállítása */
}

#carouselExampleIndicators .carousel-item {
    height: 100%;
    /* A Carousel dia elemek 100%-os magasság beállítása */
    position: relative;
    /* A pozíció beállítása az ::before pszeudo elemhez */
}

#carouselExampleIndicators .carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    /* A kattintások áteresztése az áttetsző rétegen */
}

.language-select {
    font-family: 'Comic Neue', cursive;
    color: wheat;
}

#language-select {
    height: 25px;
    padding: 0%;
    margin: 10px;
    border-radius: 20px;
    /* 10 pixel sugarú lekerekítés */
    background-color: rgb(250, 95, 95);
}

option {
    padding: 30px;
}